

/*breadcrumb*/
#show-cate .breadcrumb li a{
	color: #333;
}
#show-cate .breadcrumb li a:hover{
	text-decoration: none;
	color: #f94e3f;
}


/*col-3*/
.item-select{
	margin: 15px 0;
	padding-top: 15px;
	padding-left: 15px;
	border-bottom: 1px solid #dedede;
	
	
}
.item-select ul{
	display: auto;
	width: 100%;
	height: 100px;
	overflow-y: scroll;
}
.scroll-item::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.scroll-item::-webkit-scrollbar
{
	width: 7px;
	background-color: #F5F5F5;
}

.scroll-item::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #F74D3E;
}

.item-select p{
	font-size: 16px;
	font-weight: 700;
	color: #333;
}
.item-select ul{
	list-style: none;
}
.item-select ul li{
	color: #6f6f6f;
	font-size: 14px;
}
.item-select ul li:hover{
	color: #f94e3f;
}

.radio input[type='radio'] {
	background: #F5F5F5;
	color: #f6f6f6;
}
/*end col-3*/
/*end breadcrumb*/



/*col-9*/
#show-cate #title-col-9{
	color: #333;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
}
#show-cate #hr{
	border-top:1px solid #333;
	width: 40px;
}

#tab-product{
	background: #f6f6f6;
}
#tab-product .pull-left{

}
#tab-product .pull-left a{
    color: #333;
    font-size: 14px;
    border: 1px solid #fefefe;
    font-weight: 400;
    padding: 6px 10px;
    background: white;
    margin-right: 10px;
    margin-left: 10px;
    line-height: 56px;
}
#tab-product .pull-left a:hover{
	text-decoration: none;
	color: #f94e3f;

}

#tab-product .pull-left a i{
	padding:10px 10px;
}




/*end col-9*/